* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 950px;
    height: 650px;
    background-color: rgb(131, 217, 220);
    margin: auto;
    margin-top: 50px;
}

/* heading CSS */

.heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 40px;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(83, 82, 82);
}

/* addressbox CSS  */

.addressbox {
    height: 100px;
    background-color: white;
    margin: 15px 40px;
    display: flex;
}

.ad-details {
    margin-left: 11px;
    padding-top: 10px;
}

.ad-details .ad-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.ad-details .ad-area {
    width: 222px;
    font-family: 'Poppins', sans-serif;
}

.ad-contact {
    padding-top: 30px;
    padding-left: 70px;
}

.ad-contact .tele {
    display: flex;
    color: red;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.ad-contact .eml {
    display: flex;
    position: relative;
    right: 3px;
    color: rgb(32, 154, 190);
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.locoicon {
    position: relative;
    left: 145px;
    top: 28px;
}


/* maping CSS  */

.maping{
    height: 400px;
    background-color: white;
    margin: 15px 40px;
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
}

.maping input{
    height: 35px;
    outline: none;
    margin: 10px 5px;
    padding-left: 5px;
    font-weight: 600;

    
}

.maping textarea{
    width: 384px;
    height: 110px;
    outline: none;
    margin: 10px 5px;
    padding-left: 5px;
    font-weight: 600;
}

.subbtn{
    background-color: rgb(229, 5, 5);
    color: white;
    border: none;
    height: 29px;
    width: 63px;
    border-radius: 3px ;
    margin-left: 5px;
}

.srcmap{
    margin-top: 10px;
    margin-left: 27px;
}
.icon-1{
    margin-top: 5px;

}
.icon-2{
    margin-bottom: 8px;
    margin-left: 5px;
}
.icon-3{
    margin-bottom: 6px;
    margin-left: 5px;
}